<div class="clearfix">
  <span class="float-left">
    <h2>
      Employee Records
    </h2>
  </span>
  <span class="float-right">
    <pre>Total Records : {{getEmpList.length}}</pre></span>
</div>
<hr>


<table class="shadow table table-outer-bordered table-active table-striped table-sm">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Salary</th>
      <th>Age</th>
      <th class="float-right">Profile Image</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of getEmpList | paginate: { itemsPerPage: 15, currentPage: page }">
      <td>{{ list.id }}</td>
      <td>{{ list.employee_name }}</td>
      <td>{{ list.employee_salary }}</td>
      <td>{{ list.employee_age }}</td>
      <td>
        <i class="fa fa-edit"></i>
      </td>
<td class="float-right">
<button class="btn btn-danger btn-sm" (click)="deleteUser(list)"> Delete</button>
<button class="btn btn-warning btn-sm" (click)="editUser(list)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </tbody>
</table>
